html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400; }

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px; } }

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-right: 40px;
    padding-left: 40px; } }

.catalog__info {
  font-size: 30px;
  text-align: center; }

.catalog__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.catalog__item {
  padding-left: 0;
  list-style-type: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }
  .catalog__item .catalog__item--slider {
    position: relative;
    width: 300px;
    overflow: hidden; }
  .catalog__item .catalog__item--line {
    position: relative;
    height: 300px;
    overflow: hidden;
    left: 0;
    -webkit-transition: all 1s;
    transition: all 1s; }
  .catalog__item .catalog__item--image img {
    width: 300px;
    height: 300px; }
  .catalog__item .catalog__item--name {
    font-size: 16px; }
  .catalog__item .catalog__item--price {
    font-weight: 700; }
  .catalog__item .catalog__item--name,
  .catalog__item .catalog__item--price {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    border-top: 0;
    border-bottom: 0; }
  .catalog__item .catalog__item--button button {
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
    color: white;
    background-color: green;
    border: 0; }

ul {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000; }

ul:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid gray;
  z-index: 1; }
  ul:hover .catalog__item--image {
    width: 245px; }
  ul:hover .catalog__item--name,
  ul:hover .catalog__item--price {
    height: 20px;
    background: white; }

.catalog__popup {
  position: absolute;
  top: 190px;
  z-index: 2;
  width: 568px;
  height: 395px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border: 0;
  background-color: white;
  margin: 0;
  margin-bottom: -500px;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-animation: 0.6s;
          animation: 0.6s; }

.catalog__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .catalog__filter .catalog__filter--price {
    text-align: center; }
  .catalog__filter .catalog__filter--controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    width: 214px;
    height: 36px;
    margin-bottom: 20px;
    margin-left: 197px;
    font-size: 0;
    background-color: #f3f3f3;
    border: 2px solid #f3f3f3;
    border-radius: 5px; }
    .catalog__filter .catalog__filter--controls ::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 43px;
      background: #ffffff;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .catalog__filter .catalog__filter--controls label {
      display: inline-block;
      font-size: 14px;
      line-height: 30px;
      vertical-align: top;
      cursor: pointer; }
    .catalog__filter .catalog__filter--controls input {
      width: 50px;
      margin: 0;
      color: inherit;
      font: inherit;
      background: none;
      border: none;
      outline: none; }
    .catalog__filter .catalog__filter--controls .min-price,
    .catalog__filter .catalog__filter--controls .max-price {
      color: black;
      width: 100px;
      font-size: 16px;
      padding-left: 22px;
      line-height: 3px; }

.catalog__close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3; }

.catalog__close:hover {
  opacity: 1; }

.catalog__close:before,
.catalog__close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333; }

.catalog__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.catalog__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

@media (min-width: 768px) {
  ul:hover .catalog__item--image {
    width: 300px; } }

.hidden {
  position: relative;
  top: -3000px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-animation: 0.6s;
          animation: 0.6s; }

.range-controls {
  position: relative;
  margin-left: 30px;
  margin-bottom: 32px; }
  .range-controls .range-controls--scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3); }
  .range-controls .range-controls--bar {
    width: 80%;
    height: 2px;
    background: #27a8dd; }

.range-controls__toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #e7e7e7;
  border: 8px solid #e7e7e7;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; }
  .range-controls__toggle .range-controls__toggle:hover {
    background: #1c4f80; }

.range-controls__min {
  left: 137px; }

.range-controls__max {
  left: 62%; }

input[type="range"] {
  display: block;
  height: 20px;
  margin: 0;
  margin-left: 110px;
  width: 65%;
  pointer-events: none;
  -webkit-appearance: none; }
  input[type="range"] + input[type="range"] {
    margin-top: -20px; }

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  z-index: 1;
  -webkit-appearance: none;
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #e7e7e7;
  border: 8px solid #e7e7e7;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; }

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  z-index: 1;
  -webkit-appearance: none;
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #e7e7e7;
  border: 8px solid #e7e7e7;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; }

input[type="range"]::-ms-thumb {
  pointer-events: all;
  z-index: 1;
  -webkit-appearance: none;
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #e7e7e7;
  border: 8px solid #e7e7e7;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; }

input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 2px;
  position: relative;
  background: #27a8dd; }

input[type="range"]::-moz-range-track {
  cursor: pointer;
  height: 2px;
  position: relative;
  background: #27a8dd; }

.setup-form {
  margin-top: 10px; }

.setup-form__name {
  margin-left: 15px; }
  .setup-form__name input {
    margin-left: 10px; }

.setup-form__email {
  margin-left: 15px; }
  .setup-form__email input {
    margin-left: 10px; }

.setup-form__button {
  margin-top: 20px;
  margin-left: 43%; }

/*# sourceMappingURL=style.css.map */
