.catalog {
}

.catalog__info {
    font-size: 30px;
    text-align: center;
}

.catalog__product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog__item {
    padding-left: 0;
    list-style-type: none;
    transform: scale(1);
    transition: transform .5s;

    .catalog__item--image img {
      width: 300px;
      height: 300px;
    }

    .catalog__item--name {
      font-size: 16px;
    }

    .catalog__item--price {
      font-weight: 700;
    }

    .catalog__item--name,
    .catalog__item--price {
      height: 0;
      overflow: hidden;
      transition: height 0.5s;
      border-top: 0;
      border-bottom: 0;
    }

    .catalog__item--button button {
      font-size: 16px;
      width: 100%;
      text-transform: uppercase;
      color: white;
      background-color: green;
      border: 0;
    }  
}
ul {
  box-shadow: 0 0 5px #000;
}

ul:hover {
  transform: scale(1.2);
  border: 1px solid gray;
  z-index: 1;
  .catalog__item--image{
    width: 245px;
  }
  .catalog__item--name, 
  .catalog__item--price {
    height: 20px;
    background: white;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
  }
  .catalog__info {
  }
  .catalog__product {
  }
  .catalog__item {
  }

  ul:hover {
    .catalog__item--image{
      width: 300px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
  }
  .catalog__info {
  }
  .catalog__product {
  }
  .catalog__item {
  }
}
