.setup-form {
  margin-top: 10px;
}

.setup-form__name {
    margin-left: 15px;
  input {
    margin-left: 10px;
  }
}

.setup-form__email {
    margin-left: 15px;
    input {
    margin-left: 10px;
  }
}

.setup-form__button {
  margin-top: 20px;
  margin-left: 43%;
}
