$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@import "container.scss";
@import "catalog.scss";
@import "hidden.scss";
@import "range-controls.scss";
@import "multiple.scss";
@import "setup-form";